/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body{
  margin : 0;
  background : #262626;
  color : #d9d9d9;
  display : flex ;
  justify-content center;
  height : 100vh;
  padding 20px;
}
.header{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}
.header h1 span{
      color : red;
}
.status-section{
  height : 50px;
  width : fit-content;
  padding : 10px;
  border : none;
  border-radius : 5px;
  color : white;
  /* font-size : 1.2rem; */
  display:flex;
  justify-content : center;
}

.status-section > p.incoreect-status{
     background : #7a5ea7;
     border : 1px dashed #323232;
     font-style : italic;
     font-weight : 400;
     padding : 30px 20px;
     display : flex;
     justify-content : center;
     align-items : center;
     width : 100%;
}

.status-section.isWon{
  background : green;

}
.status-section.isLost{
  background : red;
}


/* Language components */

.lang{
  margin-top : 30px;
  display : flex;
  flex-wrap : wrap;
  flex-direction : row;
  justify-content : center;
  gap: 4px;
  max-width : 400px;
}

.lang.hide{
  display : hidden;
}

.chips{
  padding : 5px 10px ;
}
span.chips.lost::before {
  content: "💀";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word-element{
  margin-top : 10px;
  display : flex;
  gap: 1px;
}

.input-word{
  font-size : 1.5rem;
  border-bottom : 1px solid white;
  background : #323232;
  padding : 4px 10px;
}

.keybord-section{
  margin-top : 30px;
  display : flex;
  flex-wrap : wrap;
  background : #323232;
  max-width : 500px;
  gap : 10px;
  justify-content : center;
  padding : 50px;
}

.keyBoard{
  /* padding : 10px 20px; */
  height : 35px;
  width : 35px;
  cursor : pointer;
  border : none;
  background : yellow;
  border-radius : 8px;
  font-size : 1.3rem;
}

.keyBoard:disabled{
    cursor:not-allowed;
    opacity : 0.5;
}
.keyBoard:hover{
  /* background : white; */

}

.game-btn{
  height : 50px;
  width : 200px;
  background : green;
  margin-top : 30px;
  padding : 10px 20px;
  border : none;
  border-radius : 4px;
  font-size : 1.2rem;
  font-weight : large;
}

.correct{
  background : #10a958
}
.wrong{
  background : #ec5d49
}